# .env 
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_DATABASE_ID=
CLOUDFLARE_D1_TOKEN=

# 如果需要使用QQ登录，请使用下面的命令将你的QQ应用ID和密钥上传到你的Cloudflare Worker环境
# npx wrangler secret put QQ_APP_ID
# npx wrangler secret put QQ_APP_KEY
# npx wrangler secret put QQ_REDIRECT_URI
